body {
  background-color: #007058;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 45px;
}

h2{
  font-size: 35px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 56px;
  background-color: #E1F9F1;
  border-radius: 15px;
  margin: 0px 75px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #F9B814;
  text-decoration: none;
}

.logo span {
  color: #007058;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #007058;
  font-size: 20px;
}

.hero p{
  font-size: 20px;
}

.hero {
  text-align: center;
  padding: 200px 20px;
}

.hero h1 .highlight {
  background-color: #13A01D;
  padding: 5px 7px;
  border-radius: 15px;
  color: white;
}

.cta-button {
  background-color: #F9B814;
  border: none;
  padding: 15px 30px;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login{
  color: #2D6653; 
  border: 2px solid #2D6653; 
  border-radius: 15px; 
  padding: 10px 20px; 
  display: inline-block;
  text-align: center;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 3px solid #2D6653; 
  border-bottom: 3px solid #2D6653; 
  transform: rotate(45deg); 
  margin-left: 5px;
  margin-bottom: 5px;
}

.business-section {
  background-color: #E1F9F1;
  color: #007058;
  padding: 50px 100px;
  text-align: center;
  border-radius: 45px;
}

.business-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}

/* Retail and Wholesale Block */
.business-card {
  background: linear-gradient(90deg, #00D6A8 0%, #007058 100%);
  color: white;
  padding: 34px;
  border-radius: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.retail {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Catering Block */
.catering {
  background: white;
  color: black;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.catering-text {
  flex: 1;
  padding: 20px;
}

.catering img {
  width: 220px;
  border-radius: 20px;
}

/* Cashier Block */
.cashier {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background: linear-gradient(90deg, #00A27F 0%, #005241 100%);
  text-align: center;
  padding: 20px;
}

/* Features  */
.features {
  text-align: center;
  padding: 50px 20px;
}

.features h3 {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.feature {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  max-width: 250px;
}

.feature-icon {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.feature-icon img {
  width: 70px;
  height: auto;
}

/* Payment */
.payment-automation {
  background: linear-gradient(90deg, #00A27F 10%, #005241 80%);
  padding: 35px;
  border-radius: 45px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 50px auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); /* Легкая тень */
}

.payment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
}

.payment-content h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.payment-content p {
  font-size: 20px;
  max-width: 500px;
}

.payment-logos {
  display: flex;
  align-items: center;
  gap: 5px;
}

.payment-logos img {
  height: 50px;
  filter: brightness(1.2);
}

/* Device */
.devices {
  text-align: center;
  padding: 80px 20px;
}

.devices p {
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 50px;
}

.device-image {
  display: flex;
  justify-content: center;
}

.device-image img {
  max-width: 50%;
  height: auto;
}

/* Footer */
footer {
  background: linear-gradient(180deg, #ffffff 5%, #57A090 150%);
  padding: 50px 100px;
  border-radius: 45px 45px 0 0;
  max-width: 100%;
  margin: 50px auto 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  flex-wrap: wrap;
  height: 100%;
  min-height: 150px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px; 
}

.social-icons {
  display: flex;
  padding-top: 25px;
  margin: 10px 0px;
  gap: 8px; 
}

.social-icons img {
  width: 35px;
  height: 35px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.social-icons img:hover {
  opacity: 1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 3px; 
}

.email,
.phone {
  font-size: 18px;
  color: #005241;
  margin: 0; 
  padding: 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end; 
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #005241;
  font-size: 18px;
}

.copyright {
  text-decoration: none;
  font-size: 18px;
  color: #005241;
}